@page
@model RestaurantReviewer.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ratings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td><a asp-page="./Restaurant" asp-route-id="@restaurant.Id"> @restaurant.Name </a> </td>
                <td>
                    <div>
                        <div class="RatingName">
                            Food:
                        </div>
                        <div class="RatingScore">
                            @restaurant.FoodRating
                        </div>
                    </div>
                    <div>
                        <div class="RatingName">
                            Service:
                        </div>
                        <div class="RatingScore">
                            @restaurant.ServiceRating
                        </div>
                    </div>
                    <div>
                        <div class="RatingName">
                            Value:
                        </div>
                        <div class="RatingScore">
                            @restaurant.ValueRating
                        </div>
                    </div>
                    <div>
                        <div class="RatingName">
                            Atmposphere:
                        </div>
                        <div class="RatingScore">
                            @restaurant.AtmposphereRating
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
