@page "{id:int}"
@model RestaurantReviewer.Pages.RestaurantModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = Model.Restaurant.Name;
}
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/Style.css" />
        <link rel="stylesheet" href="~/css/SimpleStarRating.css" />
        <script type="text/javascript" src="~/js/SimpleStarRating.js"></script>
        <script defer type="text/javascript" src="~/js/InitRating.js"></script>
        <script defer type="text/javascript" src="~/js/HiddenInputSetter.js"></script>
    </head>
<body>
    <div class="header">
        <h1>@Model.Restaurant.Name</h1>
    </div>
    <a class="back-button" asp-page="./Index">HOME</a>
    <div class="container">
        <!-- Left column-->
        <div class="left-column">
            <div class="image-container-mid">
                <img src="@Model.Restaurant.ImgSource" />
            </div>
            <table class="rating-container" align="center">
                <tr>
                    <td>Food: </td>
                    <td class="rating-score">@Model.Restaurant.FoodRating</td>
                </tr>
                <tr>
                    <td>Service: </td>
                    <td class="rating-score">@Model.Restaurant.ServiceRating</td>
                </tr>
                <tr>
                    <td>Value: </td>
                    <td class="rating-score">@Model.Restaurant.ValueRating</td>
                </tr>
                <tr>
                    <td>Atmosphere: </td>
                    <td class="rating-score">@Model.Restaurant.AtmposphereRating</td>
                </tr>
            </table>
        </div>
        <!--Right column-->
        <div>
            <div>
                <h2>Reviews:</h2>
                <div class="grid-container">
                    @foreach (var review in Model.ReviewsOfGiveRestaurant)
                    {
                        <div class="card">
                            <div class="card-header">
                                @review.Title
                            </div>
                            <div class="card-data">
                                <div class="description">
                                    @review.Description
                                </div>
                                <table class="rating-container" align="center">
                                    <tr>
                                        <td>Food: </td>
                                        <td class="rating-score"><span class="rating non-editable" data-default-rating="@review.FoodRating"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Service: </td>
                                        <td class="rating-score"><span class="rating non-editable" data-default-rating="@review.ServiceRating"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Value: </td>
                                        <td class="rating-score"><span class="rating non-editable" data-default-rating="@review.ValueRating"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Atmosphere: </td>
                                        <td class="rating-score"><span class="rating non-editable" data-default-rating="@review.AtmosphereRating"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <h2>
                Write a review:
            </h2>
            <div class="table">
                <form method="post" autocomplete="off" name="newReview">
                    <div class="field-container">
                        <div>Title:</div>
                        <div class="field">
                            <input asp-for="Review.Title" />
                        </div>
                    </div>
                    <div class="field-container">
                        <div>Your comment:</div>
                        <div class="field">
                            <input asp-for="Review.Description" />
                        </div>
                    </div>

                    <div class="field-container">
                        <div>FoodRating:</div>
                        <div class="field">
                            <span id="foodStar" class="rating" data-default-rating="1"></span>
                            <input id="foodRating" class="hiddenInput" type="hidden" value="1" asp-for="Review.FoodRating" />
                        </div>
                    </div>
                    <div class="field-container">
                        <div>ServiceRating:</div>
                        <div class="field">
                            <span id="serviceStar" class="rating" data-default-rating="1"></span>
                            <input id="serviceRating" class="hiddenInput" type="hidden" value="1" asp-for="Review.ServiceRating" />
                        </div>
                    </div>


                    <div class="field-container">
                        <div>ValueRating:</div>
                        <div class="field">
                            <span id="valueStar" class="rating" data-default-rating="1"></span>
                            <input id="valueRating" class="hiddenInput" type="hidden" value="1" asp-for="Review.ValueRating" />
                        </div>
                    </div>




                    <div class="field-container">
                        <div>AtmosphereRating:</div>
                        <div class="field">
                            <span id="atmosphereStar" class="rating" data-default-rating="1"></span>
                            <input id="atmosphereRating" class="hiddenInput" type="hidden" value="1" asp-for="Review.AtmosphereRating" />
                        </div>
                    </div>


                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
</body>