@page "{id:int}"
@model RestaurantReviewer.Pages.RestaurantModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Restaurant";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <div class="header">
        <h1>@Model.Restaurant.Name</h1>
    </div>
    <a class="back-button" asp-page="./Index">HOME</a>
    <div class="container">
        <!-- Left column-->
        <div class="left-column">
            <div class="image-container-mid">
                <img src="@Model.Restaurant.ImgSource" />
            </div>
            <table class="rating-container" align="center">
                <tr>
                    <td>Food: </td>
                    <td class="rating-score">@Model.Restaurant.FoodRating</td>
                </tr>
                <tr>
                    <td>Service: </td>
                    <td class="rating-score">@Model.Restaurant.ServiceRating</td>
                </tr>
                <tr>
                    <td>Value: </td>
                    <td class="rating-score">@Model.Restaurant.ValueRating</td>
                </tr>
                <tr>
                    <td>Atmosphere: </td>
                    <td class="rating-score">@Model.Restaurant.AtmposphereRating</td>
                </tr>
            </table>
        </div>
        <!--Right column-->
        <div>
            <div>
                <h2>Reviews:</h2>
                <div class="grid-container">
                    @foreach (var review in Model.ReviewsOfGiveRestaurant)
                    {
                        <div class="card">
                            <div class="card-header">
                                @review.Title
                            </div>
                            <div class="card-data">
                                <div class="description">
                                    @review.Description
                                </div>
                                <table class="rating-container" align="center">
                                    <tr>
                                        <td>Food: </td>
                                        <td class="rating-score">@review.FoodRating</td>
                                    </tr>
                                    <tr>
                                        <td>Service: </td>
                                        <td class="rating-score">@review.ServiceRating</td>
                                    </tr>
                                    <tr>
                                        <td>Value: </td>
                                        <td class="rating-score">@review.ValueRating</td>
                                    </tr>
                                    <tr>
                                        <td>Atmosphere: </td>
                                        <td class="rating-score">@review.AtmosphereRating</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <h2>
                Write a review:
            </h2>
            <div class="table">
                <form method="post" autocomplete="off" name="newReview">
                    <div class="field-container">
                        <div>Title:</div>
                        <div class="field">
                            <input asp-for="Review.Title" />
                        </div>
                    </div>
                    <div class="field-container">
                        <div>Your comment:</div>
                        <div class="field">
                            <input asp-for="Review.Description" />
                        </div>
                    </div>
                    <div class="field-container">
                        <div>FoodRating:</div>
                        <div class="field">
                            <select asp-for="Review.FoodRating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="field-container">
                        <div>ServiceRating:</div>
                        <div class="field">
                            <select asp-for="Review.ServiceRating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="field-container">
                        <div>ValueRating:</div>
                        <div class="field">
                            <select asp-for="Review.ValueRating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="field-container">
                        <div>AtmosphereRating:</div>
                        <div class="field">
                            <select asp-for="Review.AtmosphereRating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
</body>