@page "{id:int}"
@model RestaurantReviewer.Pages.RestaurantModel
@{
    ViewData["Title"] = "Restaurant";
}

<div class="container">
    <!-- Left column-->
    <div class="left-column">
        <h1>@Model.Restaurant.Name</h1>
        <img src="@Model.Restaurant.ImgSource" />
        <table>
            <tr>
                <td>Food: </td>
                <td>@Model.Restaurant.FoodRating</td>
            </tr>
            <tr>
                <td>Service: </td>
                <td>@Model.Restaurant.ServiceRating</td>
            </tr>
            <tr>
                <td>Value: </td>
                <td>@Model.Restaurant.ValueRating</td>
            </tr>
            <tr>
                <td>Atmosphere: </td>
                <td>@Model.Restaurant.AtmposphereRating</td>
            </tr>
        </table>
    </div>
    <!--Right column-->
    <div>
        <div>
            <h2>Reviews:</h2>
            <table>
                @foreach (var review in Model.Restaurant.Reviews)
                {
                    <tr>
                        <td></td>
                        <td rowspan="2">@review.Title</td>
                    </tr>
                    <tr>
                        <td>Review:</td>
                        <td>@review.Description</td>
                    </tr>
                    <tr>
                        <td>Food:</td>
                        <td>@review.FoodRating</td>
                    </tr>
                    <tr>
                        <td>Service:</td>
                        <td>@review.ServiceRating</td>
                    </tr>
                    <tr>
                        <td>Value:</td>
                        <td>@review.ValueRating</td>
                    </tr>
                    <tr>
                        <td>Atmosphere:</td>
                        <td>@review.AtmosphereRating</td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>
