@page "{id:int}"
@model RestaurantReviewer.Pages.RestaurantModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Restaurant";
}

<div class="container">
    <!-- Left column-->
    <div class="left-column">
        <h1>@Model.Restaurant.Name</h1>
        <img src="@Model.Restaurant.ImgSource" />

    </div>
    <!--Right column-->
    <div class="rigt-column">
        <div class="table">
            <table>
                @foreach (var review in Model.Restaurant.Reviews)
                {
                    <tr>
                        <td></td>
                        <td rowspan="2">@review.Title</td>
                    </tr>
                    <tr>
                        <td>Review:</td>
                        <td>@review.Description</td>
                    </tr>
                    <tr>
                        <td>Food:</td>
                        <td>@review.FoodRating</td>
                    </tr>
                    <tr>
                        <td>Service:</td>
                        <td>@review.ServiceRating</td>
                    </tr>
                    <tr>
                        <td>Value:</td>
                        <td>@review.ValueRating</td>
                    </tr>
                    <tr>
                        <td>Atmosphere:</td>
                        <td>@review.AtmosphereRating</td>
                    </tr>

                }
            </table>
        </div>
        <div class="table">
            <form method="post">
                <div>Title: <input asp-for="Review.Title" /></div>
                <div>Your comment: <input asp-for="Review.Description" /></div>
                <div>
                    FoodRating:  <select asp-for="Review.FoodRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div>
                    ServiceRating:  <select asp-for="Review.ServiceRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div>
                    ValueRating:  <select asp-for="Review.ValueRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div>
                    AtmosphereRating:  <select asp-for="Review.AtmosphereRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <input type="submit" />
            </form>
        </div>
    </div>
</div>
